@import url('https://fonts.googleapis.com/css?family=Kanit:700|Kanit:400');

* {
    margin: 0;
    padding: 0;
}

:root {
    --text: #0a1b1c;
    --background: #f0fafa;
    --primary: #8FCACB;
    --secondary: #93e9eb;
    --accent: #57e5e7;

    font-size: 100%; /* 16px */
}

body {
    font-family: 'Kanit';
    font-weight: 400;
    
    color: var(--text);
    background-color: var(--background);
}

h1, h2, h3, h4, h5 {
    font-family: 'Kanit';
    font-weight: 700;
}

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}
  
nav {
    display: none;
    overflow: hidden;
    background-color: var(--primary);

    position: relative;
    max-width: 20vw;
    height: 100vh;
}

nav svg {
    height: 1.777rem;
}

.collapsible {
    position: absolute;
    top: 5px;
    right: 5px;

    height: 32px;
    fill: var(--text);
}

.collapsible.right {
    left: 5px;
    z-index: -1;
}

.collapsible:hover {
    fill: var(--primary);
    border-radius: 100%;
    background-color: var(--text)
}

.collapsible.right:hover {
    fill: var(--background);
}

.collapsible:active {
    filter: brightness(90%);
    background-color: var(--text)
}

.tab {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    border: none;

    fill: var(--text);
    color: var(--text);
    background-color: var(--primary);
    padding: 2px 0;
}

.tab:hover {
    background-color: var(--text);
    color: var(--primary);
    fill: var(--primary);
}

.tab:active {
    filter: brightness(90%);
}

.list {
    display: flex;
    align-items: center;
    position: relative;
}

.list button{
    fill: var(--text);
    color: var(--text);
    background-color: var(--primary);
    padding: 2px 0;
    border: none;

    display: flex;
    align-items: center;
    flex-grow: 1;
}

.list svg {
    margin-right: 5px;
    padding: 2px;
    border-radius: 100%;
}

.list button:hover{
    background-color: var(--text);
    color: var(--primary);
    fill: var(--primary);
}

.list svg:hover{
    background-color: var(--text);
    color: var(--primary);
    fill: var(--primary);
}

.list button:active {
    filter: brightness(90%);
}

.list svg:active {
    filter: brightness(90%);
}

.title {
    display: flex;
    align-items: center;
    position: relative;
    fill: var(--text);
}

.title svg {
    position: absolute;
    right: 7px;
    border-radius: 100%; 
}

.title svg:hover {
    background-color: var(--text);
    fill: var(--primary);
}

.title svg:active {
    filter: brightness(90%);
}
